[Unit]
Description=reinforcement model serviing service for tria
After=network.target

[Service]
Type=notify

User=bmadhekar
Group=bmadhekar
WorkingDirectory=/home/bmadhekar/work/release/server/
ExecStart=/home/bmadhekar/.local/bin/uvicorn main:tapp

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target